<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MCL_Dev.MCL_MainSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MCL_Dev.MCL_MainSetting>
            <setting name="MaxMemory" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="JavaSelectedItemIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="GameComboSelectedIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ZanZhuMingDan" serializeAs="String">
                <value />
            </setting>
            <setting name="gameAccountsList" serializeAs="String">
                <value />
            </setting>
        </MCL_Dev.MCL_MainSetting>
    </userSettings>
</configuration>